.body_backgorund {
   background-image: url("https://d1csarkz8obe9u.cloudfront.net/posterpreviews/art-zoom-background-design-template-0e16ab894b33a7cf94b131153423b4f8_screen.jpg?ts=1587228326");
   background-position: center;
   background-size: cover;
 }
 h1
 {
    color: red; 
    font-size: 40px;
 }
 
 #myCanvas
 {
 
    background-color: white; 
    border-style:ridge;
 }
 span
 {
    font-size: 20px;
 }
 
